:root {
    --dark-magneta: hsl(300, 43%, 22%);
    --soft-pink:  hsl(333, 80%, 67%);
    --dark-grayish-magneta: hsl(303, 10%, 53%);
    --light-grayish-magneta: hsl(300, 24%, 96%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: .95rem;
    font-weight: 500;
    font-family: 'Spartan', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url("images/bg-pattern-top-mobile.svg") top left / 100% 232px no-repeat, 
                url("images/bg-pattern-bottom-mobile.svg") bottom center / 100% 673px no-repeat;
}

#social-proof {
    margin: 5rem 0;
    padding: 0 1.5rem;
    display: grid;
    max-width: 23.4rem; 
    gap: 3rem;
}

#social-proof header {
    text-align: center;
    color: var(--dark-magneta);
}

#social-proof header h1 {
    font-size: 2rem;
    line-height: 1;
}

#social-proof header p {
    color: var(--dark-grayish-magneta);
    letter-spacing: -0.5px;
    line-height: 1.5;
    margin-top: 1rem;
}

.ratings {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating {
    background: var(--light-grayish-magneta);
    padding: 1rem;
    color: var(--dark-magneta);
    font-size: .8rem;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.rating .rating__stars {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}

.testimonials {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.testimonial {
    max-width: 21.8rem;
    flex: 1;
    background: var(--dark-magneta);
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
}

.testimonial .customer__info {
    display: flex;
    margin-bottom: 1rem;
}

.testimonial .customer__image {
    margin-right: 1rem;
}

.testimonial .customer__image img {
    width: 40px;
    border-radius: 50%;
}

.testimonial .customer__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .2rem;
}

.testimonial .customer__details .customer__title {
    color: var(--soft-pink);
    font-weight: 400;
}

.testimonial .customer__quote {
    letter-spacing: -0.5px;
    line-height: 1.6;
}

@media only screen and (min-width: 600px) {
    body {
        background: url("images/bg-pattern-top-desktop.svg") top left / 584px 362px no-repeat, 
                    url("images/bg-pattern-bottom-desktop.svg") bottom right / 75% 673px no-repeat;        
    }

    #social-proof {
        margin-top: 127px;
        max-width: 70rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem .8rem;
    }

    #social-proof header {
        text-align: left;
    }

    .testimonials {
        grid-column: span 2;
        flex-direction: row;
        align-items: stretch;
    }
}

@media only screen and (min-width: 900px) {
    #social-proof {
        grid-template-columns: minmax(12.5rem, 27.8rem) auto;
    }

    #social-proof header h1 {
        font-size: 3rem;
    }

     .testimonials {
        align-items: flex-start;
    }

     .testimonials .testimonial:nth-child(2) {
        /* transform: translateY(16px); */
        margin-top: 16px;
    }
     .testimonials .testimonial:nth-child(3) {
        /* transform: translateY(32px); */
        margin-top: 32px;
    }

    .ratings {
        align-items: flex-end;
        justify-content: center;
    }

    .ratings .rating {
        min-width: 27.8rem;
        min-height: 3.5rem;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 2rem;
        padding-left: 2rem;
    }

    .ratings .rating:nth-child(1) {
        /* transform: translateX(-94px); */
        margin-right: 94px;
    }
     .ratings .rating:nth-child(2) {
        /* transform: translateX(-47px); */
        margin-right: 47px;
    }
}